.dropdown {
  padding: 5px;

  &.--active {
    .dropdown__content {
      height: auto;
      opacity: 1;
      padding: 10px;
    }
  }

  .dropdown__header {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 15px;
    cursor: pointer;

    svg {
      rotate: 90deg;
      width: 5px;
      margin-top: 3px;
      path {
        stroke: #8b8787;
      }
    }
  }

  .dropdown__content {
    position: absolute;
    top: 75px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    // background-color: #303030;
    background-color: $--clr-bg-primary;
    border: 1px solid #303030;
    min-width: 200px;
    height: 0;
    padding: 0;
    // opacity: 0;
    overflow: hidden;
    transition: 0.3s;

    .dropdown__item {
      padding: 15px;
      border-radius: 10px;
      transition: 0.3s;
      display: flex;
      flex-direction: column;
      gap: 5px;

      span {
        font-size: 13px;
        font-weight: 500;
      }

      &:active {
        scale: 0.95;
      }

      &:hover {
        background-color: #303030;
      }
    }
  }
}
