.not__full {
  width: 1750px;
  margin: auto;
}

@media screen and (max-width: 1700px) {
  .not__full {
    width: 98%;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.code__item {
  background-color: rgb(255, 255, 255, 0.04);
  border-radius: 5px;
  padding: 5px;
}
