.docs {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  margin-top: $--misc-header-height;

  nav {
    padding: 10px;
    width: 300px;
    position: fixed;
    transition: 0.3s;
    overflow-y: scroll;
    max-height: calc(100vh - $--misc-header-height);
    // background-color: gold;

    .sidebar__item {
      overflow: hidden;
      height: 20px;
      margin-top: 3px;

      header {
        display: flex;
        justify-content: space-between;
        padding: 0 5px 0 0;
        cursor: pointer;

        &:hover {
          color: red;
        }

        svg {
          transition: 0.3s;
        }
      }

      &.--open {
        height: auto;
      }
    }

    .link {
      font-weight: 700;
      font-size: 14px;
      transition: 0.3s;
      cursor: pointer;
      color: rgb(97, 92, 92);
      margin-top: 3px;

      &.selected {
        color: $--clr-font-special;
        // background-color: rgb(41, 40, 40);
        border-radius: 5px;
        // padding: 5px;
      }

      &:not(:is(.selected)):hover {
        color: rgb(165, 161, 161);
      }
    }

    .item__title {
      color: rgb(97, 92, 92);
      font-weight: 900;
      font-size: 13px;
    }

    .item__items {
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      gap: 5px;
    }
  }

  .docs__content {
    margin-left: 320px;
    flex: 1;
    padding: 10px;
    overflow: hidden;
    // background-color: red;
    transition: 0.3s;

    .method__wrapper {
      .declaration__file {
        span.typo {
          color: $--clr-font-special;
          transition: 0.3s;

          &:hover {
            color: $--clr-font-special-hover;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .docs {
    nav {
      opacity: 0;
    }

    .docs__content {
      margin-left: 0;
      padding: 3px;
    }
  }
}
